* {
  font-family: Helvetica, Arial, sans-serif;
}
 
 
h1 {
  color: SeaGreen;
}

header {
    font-weight: bold;
    
}
 
 
p {
  font-size: 18px;
  color: grey;
 
}
 
 
a {
  color: lightgreen;
}

img {
   width: 50%;
}
